version: '2'

services:
  smart:
    networks:
     - proxy-tier
    environment:
     - BASE_URL=https://portal.demo.syncfor.science
     - VIRTUAL_HOST=portal.demo.syncfor.science
     - VIRTUAL_NETWORK=nginx-proxy
     - VIRTUAL_PORT=5000
     - LETSENCRYPT_HOST=portal.demo.syncfor.science
     - LETSENCRYPT_EMAIL=letsencrypt@mg.syncfor.science
     - ENABLE_UNSECURE_FHIR=True
    volumes:
      - smart.db:/usr/src/app/auth_proxy/db
      - /config/smart/fixtures.yml:/usr/src/app/auth_proxy/fixtures.yml
  smart-stu3:
    networks:
     - proxy-tier
    environment:
     - BASE_URL=https://portal-stu3.demo.syncfor.science
     - VIRTUAL_HOST=portal-stu3.demo.syncfor.science
     - VIRTUAL_NETWORK=nginx-proxy
     - VIRTUAL_PORT=5000
     - LETSENCRYPT_HOST=portal-stu3.demo.syncfor.science
     - LETSENCRYPT_EMAIL=letsencrypt@mg.syncfor.science
     - ENABLE_UNSECURE_FHIR=True
    volumes:
      - smart-stu3.db:/usr/src/app/auth_proxy/db
      - /config/smart/fixtures-stu3.yml:/usr/src/app/auth_proxy/fixtures.yml
  app:
    networks:
     - proxy-tier
    environment:
     - VIRTUAL_HOST=app.demo.syncfor.science
     - VIRTUAL_NETWORK=nginx-proxy
     - VIRTUAL_PORT=5000
     - LETSENCRYPT_HOST=app.demo.syncfor.science
     - LETSENCRYPT_EMAIL=letsencrypt@mg.syncfor.science
     - SYNCHRONIZER_HOST=https://sync-api.demo.syncfor.science
  research-app-api:
    networks:
      - proxy-tier
    environment:
      - VIRTUAL_HOST=sync-api.demo.syncfor.science
      - VIRTUAL_NETWORK=nginx-proxy
      - VIRTUAL_PORT=5000
      - LETSENCRYPT_HOST=sync-api.demo.syncfor.science
      - LETSENCRYPT_EMAIL=letsencrypt@mg.syncfor.science
    volumes:
      - research-app.db:/usr/src/app/research_app/db
      - /config/research-app-api/providers.yml:/usr/src/app/providers.yml
  landing:
    networks:
     - proxy-tier
    environment:
     - VIRTUAL_HOST=demo.syncfor.science
     - VIRTUAL_NETWORK=nginx-proxy
     - VIRTUAL_PORT=80
     - LETSENCRYPT_HOST=demo.syncfor.science
     - LETSENCRYPT_EMAIL=letsencrypt@mg.syncfor.science
  api:
    restart: always
    volumes:
     - derby:/hapi/target
  tests:
    networks:
     - proxy-tier
    environment:
     - VIRTUAL_HOST=tests.demo.syncfor.science
     - VIRTUAL_NETWORK=nginx-proxy
     - VIRTUAL_PORT=5000
     - LETSENCRYPT_HOST=tests.demo.syncfor.science
     - BASE_URL=https://tests.demo.syncfor.science
     - LETSENCRYPT_EMAIL=letsencrypt@mg.syncfor.science
     - ES_URL=https://search-s4s-logs-xsjsafiwd7vkpiucmjqmdjkp7y.us-west-2.es.amazonaws.com/test-suite/log/
    volumes:
      - tests.db:/usr/src/app/testsuite/db
      - /config/vendors/:/usr/src/app/config
networks:
  proxy-tier:
    external:
      name: nginx-proxy

volumes:
  derby: {}
  research-app.db: {}
  smart.db: {}
  smart-stu3.db: {}
  tests.db: {}
